/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  /*top: 50%;*/
  bottom: -56px;

  /*display: block;*/

  /*-webkit-transform: translate(0, -50%);*/
  /*-ms-transform: translate(0, -50%);*/
  /*transform: translate(0, -50%);*/

  /*cursor: pointer;*/

  /*border: none;*/
  /*outline: none;*/
}
/* .slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
} */
/*.slick-prev:hover:before,*/
/*.slick-prev:focus:before,*/
/*.slick-next:hover:before,*/
/*.slick-next:focus:before*/
/*{*/
/*    opacity: 1;*/
/*}*/
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev {
  left: -12px;
}
[dir='rtl'] .slick-prev {
  left: 0;
  left: auto;
}

.slick-next {
  /*right: -25px;*/
  left: 100px;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

.feature_container {
  width: 100%;
  background-color: #3b82f6;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.feature_detail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feature_details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feature_detail_sub {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.warning_container {
  display: flex;
  width: 100%;
  /* height: 150px; */
  align-items: center;
  justify-content: center;
  padding: 30px;
  background: none;
}

.warning_mainContainer {
  width: 100%;
  height: 100%;
  background: #ff0000;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}

.mentor_container {
  width: 100%;
  /* height: 200px; */
  background: #fff;
  border-radius: 7px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.mentor_container:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 24px 0 rgba(0, 0, 0, 0.19);
  transition: all ease-in-out 0.3s;
}

.mentor_mainRight {
  display: flex;
  flex-direction: column;
  width: calc(100% - 200px);
  padding-left: 30px;
  padding-right: 20px;
}

.mentor_mainRight h5 {
  font-size: 1.25rem;
  margin-top: 30px;
  height: 65px;
  overflow: hidden;
  margin-bottom: 5px;
  font-weight: bold;
}

.mentor_mainRight h5:hover {
  color: #3b82f6;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}

.mentor_mainRight h6 {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 50px;
  overflow: hidden;
}

.mentorRight_update {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mentorUpdate_show {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mentorUpdate_show p {
  margin-left: 5px;
}

.mentorRight_price {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image_container {
  overflow: hidden;
  border-radius: 10px;
}

.currentPrice {
  margin-left: 10px;
  color: #239601;
  font-size: 20px;
  font-weight: bold;
}

.beforePrice {
  text-decoration: line-through;
  line-height: 2px;
  font-weight: 100;
  font-size: 16px;
  color: #239601;
}

.priceCross {
  width: 1px;
  height: 20px;
  background: #90949a4f;
  margin-left: 10px;
  margin-right: 10px;
}

.manufacturer {
  color: #239601;
}

.getDeal_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* margin-right: 40px; */
  margin-bottom: 30px;
}

.getDeal_button div {
  background: #249600;
  padding: 4px 21px;
  border-radius: 25px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.getDeal_button div p {
  color: white;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-right: 10px;
  font-weight: bold;
}

.shareImage_container {
  margin-left: 20px;
}

.getDeal_button p {
  color: #90949A;
  font-size: 15px;
}

.getDeal_button div:hover {
  background: #239601;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.modal_background {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 60;
  position: fixed;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.12);
}

.getDeal_container {
  display: flex;
  background: #fff;
  width: 80%;
  height: 90vh;
  position: fixed;
  top: 0;
  left: 10%;
  z-index: 70;
  padding: 40px;
  border-radius: 10px;
}

.getDealContainer_main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.getDealContainer_left {
  display: flex;
  flex-direction: column;
  width: 49%;
  height: 100%;
}

.getDeal_alert {
  width: 100%;
  /* height: 80px; */
  display: flex;
  /* text-align: center; */
  color: white;
  padding: 15px;
  background: red;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.getDeal_title {
  width: 100%;
  display: flex;
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.getDeal_description {
  display: flex;
  margin-top: 30px;
  /* height: 150px; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  color: #2e2e2e;
}

.getDeal_price {
  display: flex;
  flex-direction: column;
}

.getDeal_price p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}

.getDealPrice_now {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.getDealPrice_now h5 {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 32px;
  margin-right: 10px;
}

.getDealPrice_now h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  text-decoration: line-through;
}

.getDeal_buttonContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.getDeal_cancelButton {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e74c3c;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.getDeal_confirmButton {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff9300;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.courseCard_button {
  text-decoration: none;
}

.getDealContainer_right {
  display: flex;
  width: 49%;
  height: 100%;
}

.getDeal_imageContainer {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.badge_container {
  display: flex;
  position: absolute;
  width: 100px;
  height: 30px;
  background: #e74c3c;
  right: 0;
  top: 60px;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.aboutDetail_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding-left: 5%;
}

.aboutDetail_container h2 {
  font-size: 45px;
}

.aboutDetail_container h5 {
  font-size: 32px;
}

.privacyPolicy_container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 5%;
  margin-bottom: 100px;
}

.privacyPolicy_container h1 {
  font-size: 48px;
}

.privacyPolicy_container h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.privacyPolicy_container p {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.subdetail_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subdetail_container div {
  width: 3px;
  height: 25px;
  background: rgb(88, 88, 88);
  margin-top: 10px;
  margin-right: 10px;
}

.subdetail_serviceContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subdetail_serviceContainer div {
  width: 2px;
  height: 20px;
  background: rgb(88, 88, 88);
  margin-top: 0px;
  margin-right: 10px;
}

.termsOfService_container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 5%;
  margin-bottom: 100px;
}

.categoryDetail_container {
  display: flex;
  width: 96%;
  margin-left: 2%;
  /* background: gray; */
  margin-bottom: 100px;
}

.category_subContainer {
  display: grid;
  width: 100%;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: auto auto auto;
}

.category_item {
  width: 31vw;
  height: 41vh;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  /* background-size: 100% 100%; */
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  background-repeat: no-repeat;
  cursor: pointer;
}

.comingSoon_button {
  color: white;
  font-size: 28px;
  background: black;
  border-radius: 9999px;
  padding: 10px 40px;
  cursor: pointer;
}

.comingSoon_container {
  background: linear-gradient(140deg, #00A19C, #8CF4AD);
}

.automotive {
  background-image: url('../../public/images/categories/Captures/automotive.jpg');
}

.babyproducts {
  background-image: url('../../public/images/categories/Captures/baby.jpg');
}

.beauty {
  background-image: url('../../public/images/categories/Captures/beauty.jpg');
}

.books {
  background-image: url('../../public/images/categories/Captures/books.jpg');
}

.businessIndustry {
  background-image: url('../../public/images/categories/Captures/business.webp');
}

.cdsAndVinyl {
  background-image: url('../../public/images/categories/Captures/vinyl.webp');
}

.computersAndAccessories {
  background-image: url('../../public/images/categories/Captures/computer.jpg');
}

.diyTools {
  background-image: url('../../public/images/categories/Captures/diy.webp');
}

.dvdBluray {
  background-image: url('../../public/images/categories/Captures/dvd.jpg');
}

/* .electronicsPhoto {
  background-image: url('../../public/images/categories/electronicsandphoto.webp');
} */

.garden {
  background-image: url('../../public/images/categories/Captures/garden.jpg');
}

.grocery {
  background-image: url('../../public/images/categories/Captures/grocery.jpg');
}

.healthPersonalCare {
  background-image: url('../../public/images/categories/Captures/health.jpg');
}

.homeKitchen {
  background-image: url('../../public/images/categories/Captures/kithchen.jpg');
}

.largeAppliances {
  background-image: url('../../public/images/categories/Captures/large.jpg');
}

.musicalInstrumentsDj {
  background-image: url('../../public/images/categories/Captures/dj.jpg');
}

.stationeryOfficeSupplies {
  background-image: url('../../public/images/categories/Captures/staionary.jpg');
}

.pcVideoGame {
  background-image: url('../../public/images/categories/Captures/videoGame.jpg');
}

.petSupplies {
  background-image: url('../../public/images/categories/Captures/pet.jpg');
}

/* .shops {
  background-image: url('../../public/images/categories/shops.jpeg');
} */

.sportsOutdoors {
  background-image: url('../../public/images/categories/Captures/sports.jpg');
}

.toysGames {
  background-image: url('../../public/images/categories/Captures/toy.jpg');
}

.category_mainDetail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #00000080;
  color: white;
}

.category_mainDetail h2 {
  font-size: 2.3rem;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0;
  text-align: center;
}

.category_mainDetail p {
  font-size: 1.5rem;
  margin-top: 0px;
}

.copyRight {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
}

@media (max-width: 900px) {
  /* .badge_container {
    display: none;
  } */

  .category_subContainer {
    display: grid;
    width: 100%;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: auto auto;
  }

  .category_item {
    width: 45vw;
  }

  .termsOfService_container {
    width: 94%;
    padding-left: 3%;
  }

  .aboutDetail_container {
    width: 94%;
    padding-left: 3%;
  }

  .aboutDetail_container h2 {
    font-size: 34px;
  }

  .aboutDetail_container h5 {
    font-size: 24px;
  }

  .privacyPolicy_container {
    width: 94%;
    padding-left: 3%;
  }

  .privacyPolicy_container h1 {
    font-size: 40px;
  }

  .privacyPolicy_container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .privacyPolicy_container p {
    font-size: 12px;
    margin-left: 10px;
  }

  .feature_container {
    flex-direction: column;
    height: 300px;
    align-items: center;
    justify-content: center;
  }

  .feature_detail {
    flex-direction: column;
    align-items: flex-end;
  }

  .warning_container {
    /* height: 300px; */
    padding-left: 15px;
    padding-right: 15px;
  }

  .warning_mainContainer {
    flex-direction: column;
  }

  .getDealContainer_main {
    flex-direction: column;
  }

  .getDealContainer_left {
    width: 100%;
  }

  .getDealContainer_right {
    display: none;
  }

  .getDeal_container {
    width: 90%;
    left: 5%;
    padding: 20px;
  }

  .getDeal_alert {
    font-size: 12px;
  }

  .getDeal_title {
    font-size: 14px;
  }

  .getDeal_description {
    font-size: 12px;
  }

  .getDeal_price p {
    font-size: 16px;
  }

  .getDealPrice_now h5 {
    font-size: 26px;
  }

  .getDealPrice_now h4 {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .mentor_container {
    flex-direction: column;
    align-items: center;
  }

  .mentor_mainRight {
    width: 100%;
  }

  .category_subContainer {
    display: grid;
    width: 100%;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: auto;
  }

  .category_item {
    width: 100%;
  }
}
